In [77]:
## Qt1:

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [115]:
driver = webdriver.Chrome()

In [116]:
driver.get("https://www.shine.com/")

In [117]:
title = driver.find_element(By.CLASS_NAME,"form-control")
title.send_keys('Data Analyst')

In [118]:
location =  driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [119]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [120]:
job_title = []
job_location = []
company_name = []
exp_req = []

In [121]:
title_tag = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')[:10]
for i in title_tag:
    title = i.text
    job_title.append(title)

In [123]:
job_tag = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[:10]
for i in job_tag:
    job = i.text
    job_location.append(job)

In [125]:
company_tag = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')[:10]
for i in company_tag:
    company = i.text
    company_name.append(company)

In [127]:
experience_tag = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')[:10]
for i in experience_tag:
    experience = i.text
    exp_req.append(experience)

In [129]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':exp_req})
df

,Title,Location,Company,Experience
0,Data Analyst Recruitment,Bangalore\n+13,kavya interprises,0 to 4 Yrs
1,Data Analyst,Bangalore\n+9,hire connect,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+13,kavya interprises,0 to 4 Yrs
3,Project Coordinator (Data Analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
4,Project Coordinator (Data analyst) Bangalore,Bangalore,futures and careers,2 to 4 Yrs
5,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
6,Data analyst - Java / Python,Bangalore,boyen haddin consulting and technol...,5 to 10 Yrs
7,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
8,Data Analyst - SQL/ Database Maintenance,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
9,Business Data Analyst - Modeling & Profiling,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs

In [33]:
##Q2:

In [130]:
driver = webdriver.Chrome()

In [131]:
driver.get("https://www.shine.com/")

In [132]:
title = driver.find_element(By.CLASS_NAME,"form-control")
title.send_keys('Data Scientist')

In [133]:
location =  driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [134]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [135]:
job_title = []
job_location = []
company_name = []
exp_req = []

In [136]:
title_tag = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')[:10]
for i in title_tag:
    title = i.text
    job_title.append(title)
    
job_tag = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[:10]
for i in job_tag:
    job = i.text
    job_location.append(job)
    
company_tag = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')[:10]
for i in company_tag:
    company = i.text
    company_name.append(company)
    
experience_tag = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')[:10]
for i in experience_tag:
    experience = i.text
    exp_req.append(experience)

In [137]:
print(len(job_title),len(job_location),len(company_name),len(exp_req ))

10 10 10 10

In [138]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':exp_req})
df

,Title,Location,Company,Experience
0,Data scientist,Bangalore\n+8,capgemini technology services india...,6 to 11 Yrs
1,Data Scientist - Business Intelligence,Bangalore,boyen haddin consulting and technol...,2 to 6 Yrs
2,Data Scientist for Bangalore,Bangalore,get hired,0 to 3 Yrs
3,Data Scientist - Spark/Python/Redshift,Bangalore,boyen haddin consulting and technol...,4 to 8 Yrs
4,Data Scientist - Machine Learning,Bangalore,boyen haddin consulting and technol...,2 to 4 Yrs
5,Hiring For Data Scientist,Bangalore\n+13,kavya interprises,0 to 4 Yrs
6,Hiring For Data Scientist,Bangalore\n+13,kavya interprises,0 to 4 Yrs
7,Data Scientist,Bangalore,ibm india pvt. limited,10 to 12 Yrs
8,Data Scientist- Associate,Bangalore,jpmorgan,4 to 6 Yrs
9,Data Scientist Vacancy,Bangalore\n+14,divya interprises,0 to 4 Yrs

In [55]:
##Q3:

In [139]:
driver = webdriver.Chrome()

In [140]:
driver.get("https://www.shine.com/")

In [143]:
skill=driver.find_element(By.CLASS_NAME,"input")
skill.click()
title = driver.find_element(By.CLASS_NAME,"form-control")
title.send_keys('Data Scientist')
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [144]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button')
location.click()

In [145]:
location=driver.find_element(By.CLASS_NAME,"form-control")
location.send_keys('Delhi')

In [146]:
result=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label")
result.click()

In [147]:
result=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
result.click()

In [148]:
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[3]/button')
salary.click()

In [149]:
salary=driver.find_element(By.CLASS_NAME,"form-control")
salary.send_keys('3 to 5')

In [150]:
result=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label")
result.click()

In [151]:
show=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]')
show.click()

In [152]:
job_title = []
job_location = []
company_name = []
exp_req = []

In [153]:
title_tag = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]/a')[:10]
for i in title_tag:
    title = i.text
    job_title.append(title)
    
job_tag = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[:10]
for i in job_tag:
    job = i.text
    job_location.append(job)
    
company_tag = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')[:10]
for i in company_tag:
    company = i.text
    company_name.append(company)
    
experience_tag = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')[:10]
for i in experience_tag:
    experience = i.text
    exp_req.append(experience)

In [154]:
print(len(job_title),len(job_location),len(company_name),len(exp_req ))

10 10 10 10

In [155]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':exp_req})
df

,Title,Location,Company,Experience
0,Data Scientist for Delhi,Delhi,get hired,0 to 3 Yrs
1,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
2,Data Scientist-Delhi,Delhi,shiva hr services,0 to 3 Yrs
3,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
4,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
5,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
6,Clinical Data Manager,Delhi\n+6,techno endura,0 to 1 Yr
7,Work Full/part-time / Work From Home / Compute...,Delhi\n+4,desnor destination pvt. ltd.,0 to 4 Yrs
8,Typing Work-Data Entry-Computer Operator-Freel...,Delhi\n+4,desnor destination pvt. ltd.,0 to 4 Yrs
9,Clinical Data Analyst,Delhi\n+6,techno endura,0 to 1 Yr

In [145]:
##Q4

In [195]:
driver = webdriver.Chrome()

In [196]:
driver.get("https://www.flipkart.com/")

In [197]:
search = driver.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('sunglasses')

In [198]:
sclick = driver.find_element(By.CLASS_NAME,"_34RNph")
sclick.click()

In [199]:
Brand = []
Price= []
Product_description= []

In [200]:
Brand_tag = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in Brand_tag:
    brandd = i.text
    Brand.append(brandd)

In [201]:
price_tag = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div')
for i in price_tag:
    price=i.text
    Price.append(price)

In [202]:
pd_tag = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a')[:40]
for i in pd_tag:
    pd=i.text
    Product_description.append(pd)

In [205]:
nclick = driver.find_element(By.CLASS_NAME,"_1LKTO3")
nclick.click()

In [206]:
Brand_tag = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in Brand_tag:
    brandd = i.text
    Brand.append(brandd)

In [207]:
price_tag = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div')
for i in price_tag:
    price=i.text
    Price.append(price)

In [209]:
pd_tag = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a')[:40]
for i in pd_tag:
    pd=i.text
    Product_description.append(pd)

In [213]:
nclick = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
nclick.click()

In [214]:
Brand_tag = driver.find_elements(By.CLASS_NAME,"_2WkVRV")[:20]
for i in Brand_tag:
    brandd = i.text
    Brand.append(brandd)

In [215]:
price_tag = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div')[:20]
for i in price_tag:
    price=i.text
    Price.append(price)

In [216]:
pd_tag = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a')[:20]
for i in pd_tag:
    pd=i.text
    Product_description.append(pd)

In [219]:
import pandas as pd
df=pd.DataFrame({'Brands':Brand,'Price':Price,'Product Description':Product_description})
df

,Brands,Price,Product Description
0,john jacobs,"₹2,399₹6,00060% off",UV Protection Round Sunglasses (51)
1,ROYAL SON,"₹339₹1,49977% off","₹2,399₹6,00060% off"
2,Fastrack,"₹709₹1,09935% off",Mirrored Aviator Sunglasses (58)
3,ROADWAY,₹199₹99980% off,"₹339₹1,49977% off"
4,Elligator,₹149₹59975% off,UV Protection Wayfarer Sunglasses (58)
...,...,...,...
95,PIRASO,"₹269₹2,59989% off","₹2,999₹9,99970% off"
96,Ann Taylor,"₹2,999₹9,99970% off","by Lenskart Polarized, UV Protection Retro Squ..."
97,IRUS,₹499₹89043% off,"₹854₹1,99957% off"
98,Resist,"₹1,250₹3,99968% off",UV Protection Wayfarer Sunglasses (56)
99,Fastrack,₹749₹99925% off,₹649₹99935% off

In [71]:
##Q5:

In [377]:
driver = webdriver.Chrome()

In [378]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=b6724eca-a46c-40e8-b1fd-e1dd1a3c06b2.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=0tccobesy80000001701874098289&qH=f6cdfdaa9f3c23f3")

In [379]:
Review = []
Rating = []
Full_Review=[]

In [380]:
review_tag = driver.find_elements(By.CLASS_NAME,"_2-N8zT")
for i in review_tag:
    review=i.text
    Review.append(review)

In [383]:
rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating=i.text
    Rating.append(rating)

In [386]:
Full_review_tag = driver.find_elements(By.CLASS_NAME,"t-ZTKy")
for i in Full_review_tag:
    Full_review=i.text
    Full_Review.append(Full_review)

In [388]:
sclick = driver.find_element(By.CLASS_NAME,"_1LKTO3")
sclick.click()

In [389]:
review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review=i.text
    Review.append(review)

In [392]:
rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating=i.text
    Rating.append(rating)

In [395]:
Full_review_tag = driver.find_elements(By.CLASS_NAME,"t-ZTKy")
for i in Full_review_tag:
    Full_review=i.text
    Full_Review.append(Full_review)

In [397]:
sclick = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
sclick.click()

In [398]:
review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review=i.text
    Review.append(review)
    
rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating=i.text
    Rating.append(rating)

Full_review_tag = driver.find_elements(By.CLASS_NAME,"t-ZTKy")
for i in Full_review_tag:
    Full_review=i.text
    Full_Review.append(Full_review)

In [403]:
sclick = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
sclick.click()

In [404]:
review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review=i.text
    Review.append(review)
    
rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating=i.text
    Rating.append(rating)

Full_review_tag = driver.find_elements(By.CLASS_NAME,"t-ZTKy")
for i in Full_review_tag:
    Full_review=i.text
    Full_Review.append(Full_review)

In [406]:
sclick = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
sclick.click()

In [407]:
review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review=i.text
    Review.append(review)
    
rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating=i.text
    Rating.append(rating)

Full_review_tag = driver.find_elements(By.CLASS_NAME,"t-ZTKy")
for i in Full_review_tag:
    Full_review=i.text
    Full_Review.append(Full_review)

In [409]:
sclick = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
sclick.click()

In [410]:
review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review=i.text
    Review.append(review)
    
rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating=i.text
    Rating.append(rating)

Full_review_tag = driver.find_elements(By.CLASS_NAME,"t-ZTKy")
for i in Full_review_tag:
    Full_review=i.text
    Full_Review.append(Full_review)

In [412]:
sclick = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
sclick.click()

In [413]:
review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review=i.text
    Review.append(review)
    
rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating=i.text
    Rating.append(rating)

Full_review_tag = driver.find_elements(By.CLASS_NAME,"t-ZTKy")
for i in Full_review_tag:
    Full_review=i.text
    Full_Review.append(Full_review)

In [415]:
sclick = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
sclick.click()

In [416]:
review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review=i.text
    Review.append(review)
    
rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating=i.text
    Rating.append(rating)

Full_review_tag = driver.find_elements(By.CLASS_NAME,"t-ZTKy")
for i in Full_review_tag:
    Full_review=i.text
    Full_Review.append(Full_review)

In [418]:
sclick = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
sclick.click()

In [419]:
review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review=i.text
    Review.append(review)
    
rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating=i.text
    Rating.append(rating)

Full_review_tag = driver.find_elements(By.CLASS_NAME,"t-ZTKy")
for i in Full_review_tag:
    Full_review=i.text
    Full_Review.append(Full_review)

In [420]:
print(len(Rating),(len(Review),(len(Full_Review))))

100 (100, 100)

In [421]:
import pandas as pd
df = pd.DataFrame({'Review':Review,'Rating':Rating,'Full Review':Full_Review})
df

,Review,Rating,Full Review
0,Perfect product!,5,Photos super
1,Classy product,5,Camera is awesome\nBest battery backup\nA perf...
2,Best in the market!,5,Good Camera
3,Worth every penny,5,Feeling awesome after getting the delivery of ...
4,Wonderful,5,This is amazing at all
...,...,...,...
95,Great product,5,I was using android phone earlier..I was think...
96,Must buy!,5,I rate this product 5* as it has got amazing u...
97,Best in the market!,5,Finally got it 😙
98,Best in the market!,5,Really very nice... my dad gifted me really I ...
99,Great product,5,"Awesome phone, great display(may not be a OLED..."

In [422]:
##Q6

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get('https://www.flipkart.com/')

In [5]:
search = driver.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('sneakers')

In [6]:
sclick = driver.find_element(By.CLASS_NAME,"_34RNph")
sclick.click()

In [8]:
Brand = []
Product_Description = []
Price = []

In [9]:
Brand_tag = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in Brand_tag:
    brandd = i.text
    Brand.append(brandd)

In [12]:
price_tag = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div')
for i in price_tag:
    price=i.text
    Price.append(price)

In [15]:
pd_tag = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a')[:40]
for i in pd_tag:
    pd=i.text
    Product_Description.append(pd)

In [18]:
nclick = driver.find_element(By.CLASS_NAME,"_1LKTO3")
nclick.click()

In [19]:
Brand_tag = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in Brand_tag:
    brandd = i.text
    Brand.append(brandd)
    
price_tag = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div')
for i in price_tag:
    price=i.text
    Price.append(price)
    
pd_tag = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a')[:40]
for i in pd_tag:
    pd=i.text
    Product_Description.append(pd)

In [21]:
nclick = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
nclick.click()

In [22]:
Brand_tag = driver.find_elements(By.CLASS_NAME,"_2WkVRV")[:20]
for i in Brand_tag:
    brandd = i.text
    Brand.append(brandd)
    
price_tag = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div')[:20]
for i in price_tag:
    price=i.text
    Price.append(price)
    
pd_tag = driver.find_elements(By.XPATH,'//div[@class="_2B099V"]/a')[:20]
for i in pd_tag:
    pd=i.text
    Product_Description.append(pd)

In [23]:
import pandas as pd
df = pd.DataFrame({'Brand':brandd,'Price':price,'Product Description':Product_Description})
df

     Brand            Price                                Product Description
0   Layasa  ₹435₹99956% off                  Sneakers For Men Sneakers For Men
1   Layasa  ₹435₹99956% off                                    ₹399₹99960% off
2   Layasa  ₹435₹99956% off  Megpar White New Stylish Look Comfortable Casu...
3   Layasa  ₹435₹99956% off                                  ₹475₹1,99976% off
4   Layasa  ₹435₹99956% off                                 Sneakers For Women
..     ...              ...                                                ...
95  Layasa  ₹435₹99956% off                                    ₹699₹89922% off
96  Layasa  ₹435₹99956% off                  Stylish & Trendy Sneakers For Men
97  Layasa  ₹435₹99956% off                                    ₹539₹99946% off
98  Layasa  ₹435₹99956% off                           Onehill Sneakers For Men
99  Layasa  ₹435₹99956% off                                ₹1,977₹4,29954% off

[100 rows x 3 columns]

In [24]:
##Q7

In [148]:
driver = webdriver.Chrome()
driver.get("https://www.amazon.in/")

In [149]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [150]:
sclick = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
sclick.click()

In [152]:
sclick = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/span[12]/li/span/a/div/label/i')
sclick.click()

In [163]:
Title = []
Ratings = []
Price = []

In [174]:
title_tag = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')[:10]
for i in title_tag:
    title = i.text
    Title.append(title)

In [175]:
rating_tag = driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')[:10]
for i in rating_tag:
    rating = i.text
    Ratings.append(rating)

In [176]:
Price_tag = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')[:10]
for i in Price_tag:
    price = i.text
    Price.append(price)

In [177]:
import pandas as pd
df = pd.DataFrame({'Titles':Title,'Price':Price,'Ratings':Ratings})
df

                                              Titles     Price Ratings
0  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...    49,990
1  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...    75,990
2  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...    89,990
3  Acer Predator Helios Neo 16 Gaming Laptop 13th...  1,29,900
4  HP Pavilion X360 11th Gen Intel Core i7 14" (3...    85,990
5  Acer Aspire Lite 11th Gen Intel Core i7-1165G7...    50,500
6  HP Victus Gaming Laptop, 12th Gen Intel Core i...    86,490
7  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...    89,999
8  (Refurbished) Acer Aspire Lite Premium Metal L...    42,491
9  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...    49,990

In [178]:
##Q8

In [312]:
driver = webdriver.Chrome()
driver.get("https://www.azquotes.com/")

In [313]:
sclick = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
sclick.click()

In [314]:
Quote = []
Author = []
Type_of_Quote = []

In [315]:
quote_tag = driver.find_elements(By.CLASS_NAME,"title")[0:100]
for i in quote_tag:
    quote = i.text
    Quote.append(quote)

In [316]:
author_tag = driver.find_elements(By.CLASS_NAME,"author")
for i in author_tag:
    author = i.text
    Author.append(author)

In [317]:
tq_tag = driver.find_elements(By.CLASS_NAME,"tags")
for i in tq_tag:
    tq = i.text
    Type_of_Quote.append(tq)

In [318]:
print(len(Quote),(len(Author),(len(Type_of_Quote))))

100 (100, 100)

In [319]:
nclick = driver.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/div/div[3]/li[12]/a')
nclick.click()

In [320]:
quote_tag = driver.find_elements(By.CLASS_NAME,"title")[0:100]
for i in quote_tag:
    quote = i.text
    Quote.append(quote)
    
author_tag = driver.find_elements(By.CLASS_NAME,"author")
for i in author_tag:
    author = i.text
    Author.append(author)
    
tq_tag = driver.find_elements(By.CLASS_NAME,"tags")
for i in tq_tag:
    tq = i.text
    Type_of_Quote.append(tq)

In [321]:
print(len(Quote),(len(Author),(len(Type_of_Quote))))

200 (200, 200)

In [322]:
nclick = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
nclick.click()

In [323]:
quote_tag = driver.find_elements(By.CLASS_NAME,"title")[0:100]
for i in quote_tag:
    quote = i.text
    Quote.append(quote)
    
author_tag = driver.find_elements(By.CLASS_NAME,"author")
for i in author_tag:
    author = i.text
    Author.append(author)
    
tq_tag = driver.find_elements(By.CLASS_NAME,"tags")
for i in tq_tag:
    tq = i.text
    Type_of_Quote.append(tq)

In [324]:
print(len(Quote),(len(Author),(len(Type_of_Quote))))

300 (300, 300)

In [325]:
nclick = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
nclick.click()

In [326]:
quote_tag = driver.find_elements(By.CLASS_NAME,"title")[0:100]
for i in quote_tag:
    quote = i.text
    Quote.append(quote)
    
author_tag = driver.find_elements(By.CLASS_NAME,"author")
for i in author_tag:
    author = i.text
    Author.append(author)
    
tq_tag = driver.find_elements(By.CLASS_NAME,"tags")
for i in tq_tag:
    tq = i.text
    Type_of_Quote.append(tq)

In [327]:
print(len(Quote),(len(Author),(len(Type_of_Quote))))

400 (400, 400)

In [328]:
nclick = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
nclick.click()

In [329]:
quote_tag = driver.find_elements(By.CLASS_NAME,"title")[0:100]
for i in quote_tag:
    quote = i.text
    Quote.append(quote)
    
author_tag = driver.find_elements(By.CLASS_NAME,"author")
for i in author_tag:
    author = i.text
    Author.append(author)
    
tq_tag = driver.find_elements(By.CLASS_NAME,"tags")
for i in tq_tag:
    tq = i.text
    Type_of_Quote.append(tq)

In [330]:
print(len(Quote),(len(Author),(len(Type_of_Quote))))

500 (500, 500)

In [331]:
nclick = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
nclick.click()

In [332]:
quote_tag = driver.find_elements(By.CLASS_NAME,"title")[0:100]
for i in quote_tag:
    quote = i.text
    Quote.append(quote)
    
author_tag = driver.find_elements(By.CLASS_NAME,"author")
for i in author_tag:
    author = i.text
    Author.append(author)
    
tq_tag = driver.find_elements(By.CLASS_NAME,"tags")
for i in tq_tag:
    tq = i.text
    Type_of_Quote.append(tq)

In [333]:
print(len(Quote),(len(Author),(len(Type_of_Quote))))

600 (600, 600)

In [334]:
nclick = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
nclick.click()

In [335]:
quote_tag = driver.find_elements(By.CLASS_NAME,"title")[0:100]
for i in quote_tag:
    quote = i.text
    Quote.append(quote)
    
author_tag = driver.find_elements(By.CLASS_NAME,"author")
for i in author_tag:
    author = i.text
    Author.append(author)
    
tq_tag = driver.find_elements(By.CLASS_NAME,"tags")
for i in tq_tag:
    tq = i.text
    Type_of_Quote.append(tq)

In [336]:
print(len(Quote),(len(Author),(len(Type_of_Quote))))

700 (700, 700)

In [337]:
nclick = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
nclick.click()

In [338]:
quote_tag = driver.find_elements(By.CLASS_NAME,"title")[0:100]
for i in quote_tag:
    quote = i.text
    Quote.append(quote)
    
author_tag = driver.find_elements(By.CLASS_NAME,"author")
for i in author_tag:
    author = i.text
    Author.append(author)
    
tq_tag = driver.find_elements(By.CLASS_NAME,"tags")
for i in tq_tag:
    tq = i.text
    Type_of_Quote.append(tq)

In [339]:
print(len(Quote),(len(Author),(len(Type_of_Quote))))

800 (800, 800)

In [340]:
nclick = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
nclick.click()

In [341]:
quote_tag = driver.find_elements(By.CLASS_NAME,"title")[0:100]
for i in quote_tag:
    quote = i.text
    Quote.append(quote)
    
author_tag = driver.find_elements(By.CLASS_NAME,"author")
for i in author_tag:
    author = i.text
    Author.append(author)
    
tq_tag = driver.find_elements(By.CLASS_NAME,"tags")
for i in tq_tag:
    tq = i.text
    Type_of_Quote.append(tq)

In [342]:
print(len(Quote),(len(Author),(len(Type_of_Quote))))

900 (900, 900)

In [343]:
nclick = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[13]/a')
nclick.click()

In [344]:
quote_tag = driver.find_elements(By.CLASS_NAME,"title")[0:100]
for i in quote_tag:
    quote = i.text
    Quote.append(quote)
    
author_tag = driver.find_elements(By.CLASS_NAME,"author")
for i in author_tag:
    author = i.text
    Author.append(author)
    
tq_tag = driver.find_elements(By.CLASS_NAME,"tags")
for i in tq_tag:
    tq = i.text
    Type_of_Quote.append(tq)

In [345]:
print(len(Quote),(len(Author),(len(Type_of_Quote))))

1000 (1000, 1000)

In [346]:
import pandas as pd
df = pd.DataFrame({'Quote':Quote,'Author':Author,'Type_of_Quote':Type_of_Quote})
df

,Quote,Author,Type_of_Quote
0,Authors:,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,The essence of strategy is choosing what not t...,Golda Meir,"Inspiration, Past, Trying"
2,One cannot and must not try to erase the past ...,Theodore Roosevelt,"Country, Peace, War"
3,Patriotism means to stand by the country. It d...,Nelson Mandela,"Inspirational, Motivational, Death"
4,Death is something inevitable. When a man has ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Leaders must be close enough to relate to othe...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,Regret for the things we did can be tempered b...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,America... just a nation of two hundred millio...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,For every disciplined effort there is a multip...,Ram Dass,"Spiritual, Truth, Yoga"
999,"The spiritual journey is individual, highly pe...",Plutarch,"Inspirational, Leadership, Education"

In [347]:
##Q9

In [3]:
driver = webdriver.Chrome()
driver.get('https://www.motor1.com/')

In [4]:
search = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys('50 most expensive cars in the world')

In [5]:
nclick = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
nclick.click()

In [7]:
nclick = driver.find_element(By.XPATH,'//div[@class="text-box"]/h3')
nclick.click()

In [8]:
car_name = []
price = []

In [9]:
car_tag = driver.find_elements(By.CLASS_NAME,"subheader")
for i in car_tag:
    car = i.text
    car_name.append(car)

In [11]:
print(len(car_name))

51

In [23]:
import pandas as pd
df = pd.DataFrame({'Car Name':car_name})
df

                              Car Name
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profilée
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail
50    Most Expensive Cars In The World